  /*CSS COMUN*/
  
  * {
      margin: 0%;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      /**background-color: rgb(175, 199, 152);
         **/
  }
  
  header {
      width: 100%;
      position: absolute;
      top: 21vh;
      text-align: center;
  }
  
  header h1 {
      font-size: 70px;
      background-color: white;
      color: rgb(175, 199, 152);
      box-shadow: -4px 16px 22px rgba(0, 0, 0, 0.384);
  }
  
  .cabezal {
      color: white;
      font-size: 33px;
      margin: 50px;
      position: absolute;
      display: flex;
  }
  
  .cabezal2 {
      color: white;
      font-size: 28px;
      margin: 50px;
      position: absolute;
      display: flex;
      left: 155vh;
  }
  
  .botonA:hover {
      color: rgb(14, 71, 19);
  }
  /** menu navegación CSS**/
  
  #navegador {
      color: white;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 14vh;
      position: absolute;
      flex-direction: row;
      width: 100%;
  }
  
  .horizontal>li {
      display: flex;
      display: inline;
      margin: 6px;
      padding: 9px;
      justify-content: space-between;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 5px;
      background-color: rgb(175, 199, 152);
  }
  
  .horizontal a:hover {
      color: rgb(14, 71, 19);
  }
  
  .horizontal a.active {
      color: rgb(14, 71, 19);
  }
  /** pagina principal CSS**/
  
  .imagen1 {
      margin: 0%;
      padding: 0%;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  
  .container1 {
      display: flex;
      text-align: center;
      position: absolute;
      top: 43vh;
  }
  
  .container1 p {
      width: 65%;
      padding: 20px;
      margin: auto;
      text-align: justify;
      background-color: rgba(71, 71, 71, 0.514);
      color: white;
      border-radius: 5px;
      line-height: 16pt;
  }
  
  .menu1 {
      padding: 0;
      display: flex;
      width: 80%;
      margin: auto;
      height: auto;
      flex-direction: row-reverse;
      position: absolute;
      top: 70vh;
      text-align: center;
      left: 20vh;
  }
  
  .menu2 {
      padding: 0;
      display: flex;
      width: 80%;
      margin: auto;
      height: auto;
      flex-direction: row-reverse;
      position: absolute;
      top: 92vh;
      text-align: center;
      left: 20vh;
  }
  
  .option {
      background-color: rgb(175, 199, 152);
      padding: 50px;
      margin: 10px;
      list-style: none;
      flex-direction: reverse;
      justify-content: center;
      flex: 33%;
      position: relative;
      border-radius: 5px;
  }
  
  .option a {
      color: white;
      font-size: 20px;
      display: inline-block;
  }
  
  .option a:hover {
      color: rgb(14, 71, 19);
  }
  
  .boton {
      color: white;
      font-size: 20px;
      margin: 50px;
      padding: 12px;
      position: absolute;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 5px;
      display: flex;
      left: 182vh;
  }
  
  .boton:hover {
      color: rgb(14, 71, 19);
  }
  /** .container3 {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         gap: 0px 0px;
         grid-template-areas: "img1 img1 img2 img2" "img1 img1 img2 img2";
     }
     
     .img1 {
         grid-area: img1;
         object-fit: cover;
         width: 100%;
         height: auto;
     }
     
     .img2 {
         grid-area: img2;
         object-fit: cover;
         width: 100%;
         height: auto;
     }**/
  /**.header3 {
         width: 100%;
         position: absolute;
         top: 4vh;
         text-align: center;
     }**/
  /**.img3 {
         grid-area: img3;
         object-fit: cover;
         width: 100%;
         height: auto;
     }**/
  /** .volver {
         margin: 9px;
         padding: 9px;
         border: 2px solid rgb(255, 255, 255);
         border-radius: 5px;
         background-color: rgba(152, 221, 204, 0.384);
         color: white;
         position: absolute;
         top: 11vh;
         left: 189vh;
         flex-direction: row;
     }**/
  /** Pagina2 CSS **/
  
  .box1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 275px;
      gap: 8px 39px;
      grid-template-areas: "text1 text2";
      position: absolute;
      top: 37vh;
      padding: 32px;
  }
  
  .text1 {
      grid-area: text1;
      text-align: justify;
      padding: 20px;
      background-color: rgba(175, 199, 152, 0.945);
      border-radius: 5px;
      line-height: 16pt;
  }
  
  .text2 {
      grid-area: text2;
      text-align: justify;
      padding: 20px;
      background-color: rgb(175, 199, 152, 0.945);
      border-radius: 5px;
      line-height: 16pt;
  }
  
  body.page2 {
      background: url(./assets/foto2.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  /** Pagina3 CSS **/
  
  .box2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1.2fr 0fr;
      gap: 2px 18px;
      grid-template-areas: "text3 text4" "imgA imgB";
      top: 32vh;
      position: relative;
  }
  
  .text3 {
      grid-area: text3;
      padding: 60px;
      text-align: justify;
      line-height: 16pt;
  }
  
  .text5 {
      grid-area: text4;
      padding: 60px;
      text-align: justify;
      line-height: 16pt;
  }
  
  .imgA {
      grid-area: imgA;
      width: 92%;
      top: -68vh;
      left: 5vh;
      position: absolute;
  }
  
  .body3 {
      background-color: rgb(175, 199, 152);
  }
  
  .botonA:hover {
      color: rgb(14, 71, 19);
  }
  /** Pagina4 CSS**/
  
  .box3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1.2fr 0fr;
      gap: 2px 18px;
      grid-template-areas: "tex1 tex2" "imgA imgB";
      top: 36vh;
      position: relative;
      margin-bottom: 20%;
  }
  
  .tex1 {
      grid-area: tex1;
      padding: 60px;
      background-color: rgb(175, 199, 152, 0.795);
      border-radius: 5px;
      text-align: justify;
      line-height: 16pt;
  }
  
  .tex2 {
      grid-area: tex2;
      padding: 60px;
      background-color: rgba(175, 199, 152, 0.795);
      border-radius: 5px;
      text-align: justify;
      line-height: 16pt;
  }
  
  h4 {
      color: rgb(14, 71, 19);
  }
  
  body.page4 {
      background: url(./assets/verde.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  /** Pagina5 CSS  y derivadas**/
  /** no se por que no me funciona el hoover**/
  
  body.londres {
      background: url(./assets/londres.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  .menu4 {
      padding: 0;
      display: flex;
      width: 80%;
      margin: auto;
      height: auto;
      flex-direction: row-reverse;
      position: absolute;
      top: 41vh;
      text-align: center;
      left: 20vh;
  }
  
  .menu5 {
      padding: 0;
      display: flex;
      width: 80%;
      margin: auto;
      height: auto;
      flex-direction: row-reverse;
      position: absolute;
      top: 62vh;
      text-align: center;
      left: 20vh;
  }
  
  .option1 {
      background-color: rgb(175, 199, 152);
      padding: 50px;
      margin: 10px;
      list-style: none;
      flex-direction: reverse;
      justify-content: center;
      flex: 33%;
      position: relative;
      border-radius: 5px;
  }
  
  .option1 a {
      color: white;
      font-size: 20px;
      display: inline-block;
  }
  
  .option1 a:hover {
      color: rgb(14, 71, 19);
  }
  
  .p5 {
      margin: 5px;
      top: 31vh;
      left: 71vh;
      position: absolute;
      font-size: 40pt;
  }
  
  .a1 {
      margin: 5px;
      top: 53vh;
      left: 146vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .a1 a:hover {
      color: rgb(14, 71, 19);
  }
  
  body.page5 {
      background: url(./assets/paco2.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  body.estocolmo {
      background: url(./assets/estocolmo1.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  .a2 {
      margin: 5px;
      top: 53vh;
      left: 146vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .a2 a:hover {
      color: rgb(14, 71, 19);
  }
  
  .l1 {
      margin: 5px;
      top: 53vh;
      left: 29vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .l1 a:hover {
      color: rgb(14, 71, 19);
  }
  
  .a4 {
      margin: 5px;
      top: 53vh;
      left: 146vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .a4 a:hover {
      color: rgb(14, 71, 19);
  }
  
  .e1 {
      margin: 5px;
      top: 53vh;
      left: 25vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .e1 a:hover {
      color: rgb(14, 71, 19);
  }
  
  body.edimburgo {
      background: url(./assets/edimburgo.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  .a5 {
      margin: 5px;
      top: 53vh;
      left: 146vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .a5 a:hover {
      color: rgb(14, 71, 19);
  }
  
  .e2 {
      margin: 5px;
      top: 53vh;
      left: 25vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .e2 a:hover {
      color: rgb(14, 71, 19);
  }
  
  body.singapur {
      background: url(./assets/singapur.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  .s1 {
      margin: 5px;
      top: 53vh;
      left: 29vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  .s1 a:hover {
      color: rgb(14, 71, 19);
  }
  
  body.viena {
      background: url(./assets/viena.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  .vox1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 378px;
      gap: 8px 39px;
      grid-template-areas: "img text1 text2";
      position: absolute;
      top: 37vh;
      padding: 32px;
  }
  
  .vox2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 418px;
      gap: 8px 39px;
      grid-template-areas: "img text1 text2";
      position: absolute;
      top: 37vh;
      padding: 32px;
  }
  
  .vox3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 391px;
      gap: 8px 39px;
      grid-template-areas: "img text1 text2";
      position: absolute;
      top: 37vh;
      padding: 32px;
  }
  
  .vox4 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 351px;
      gap: 8px 39px;
      grid-template-areas: "img text1 text2";
      position: absolute;
      top: 37vh;
      padding: 32px;
  }
  
  .vox7 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 391px;
      gap: 8px 39px;
      grid-template-areas: "img text1 text2";
      position: absolute;
      top: 37vh;
      padding: 32px;
  }
  
  .vox5 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 253px;
      gap: 8px 39px;
      grid-template-areas: "img text1 text2";
      position: absolute;
      top: 37vh;
      padding: 32px;
  }
  /**MADRID21**/
  
  .p6 {
      margin: 5px;
      top: 26vh;
      left: 4vh;
      position: absolute;
      font-size: 40pt;
      background-color: rgba(175, 199, 152, 0.74);
      padding: 5pt;
      border-radius: 5px;
  }
  
  body.madrid {
      background: url(./assets/madrid2.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  .vox6 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 298px;
      gap: 8px 39px;
      grid-template-areas: "text1 text2";
      position: absolute;
      top: 35vh;
      padding: 42px;
  }
  /** ciudades menos sostenibles**/
  
  body.menos {
      background: url(./assets/bombay.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  .vox8 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 448px;
      gap: 8px 39px;
      grid-template-areas: "text1 text2";
      position: absolute;
      top: 35vh;
      padding: 42px;
      left: 20vh;
  }
  
  .video {
      position: absolute;
      top: 40vh;
      left: 69vh;
  }
  /**galeria css**/
  
  .galeria {
      background-color: rgb(175, 199, 152);
  }
  /**  Opcion uno con grid 
  .caja {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(4, 2fr);
       gap: 22px 22px;
       grid-template-areas: "im1 im2 im3" "im4 im5 im6" "im7 im8 im9" "im10 im11 im12";
   }
   
   .im1 {
       grid-area: im1;
   }
   
   .im2 {
       grid-area: im2;
   }
   
   .im3 {
       grid-area: im3;
   }
   
   .im4 {
       grid-area: im4;
   }
   
   .im5 {
       grid-area: im5;
   }
   
   .im6 {
       grid-area: im6;
   }
   
   .im7 {
       grid-area: im7;
   }
   
   .im8 {
       grid-area: im8;
   }
   
   .im9 {
       grid-area: im9;
   }
   
   .im10 {
       grid-area: im10;
   }
   
   .im11 {
       grid-area: im11;
   }
   
   .im12 {
       grid-area: im12;
   }**/
  
  .im {
      height: 30%;
      width: 30%;
  }
  
  .caja {
      position: absolute;
      top: 26vh;
      margin: 4%;
      left: 20vh;
      padding: 2vh;
  }
  /** notas**/
  /** no he logrado que me funcionen algunos hoover, en el boton de arriba para volver al menú n ciudades sostenibles. 
  he dejado en notas los errores, para que veas en que puedo solucionar y mejorar.
  como puedo hacer para que se ajuste el tamaño de los objetos, tanto cajas como texto etc... 
  según el tamaño de la pantalla.
  
  he trabajado con una pantalla de 27w y con una de 14**/


.logoObjetivos{
    width: 100%;   
}
.linkLogoObjetivos{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    background-color: white;
}